<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
</head>
<body>
    <h1>this is home page i have added</h1>
    <!-- <h3>  <%= 3*5 %> </h3>   -->
    <h3>  <%="anjali" %> </h3> 
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa maiores molestiae blanditiis, vero mollitia alias quae dolore quaerat nulla doloremque ab culpa accusamus, aliquam doloribus temporibus fuga distinctio. Quam, ipsam.</p>
<button>click me!</button>

</body>
</html>